.col-1 {
	margin: auto;
	margin-top: 5%;

	text-align: center;
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}
	body {
		font-size: 1.25em;
	}
	#addPlus {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	[class*="col-"] {
		width: 75%;
	}
	body {
		font-size: 2rem;
	}
	#addPlus {
		font-size: 5rem;
	}
}

@media only screen and (min-width: 992px) {
	[class*="col-"] {
		width: 50%;
	}
	body {
		font-size: 1.75rem;
	}
	#addPlus {
		font-size: 3rem;
	}
}

@media only screen and (min-width: 1400px) {
	[class*="col-"] {
		width: 25%;
	}
	body {
		font-size: 1.25rem;
	}
	#addPlus {
		font-size: 3rem;
	}
}

#btn {
	display: none;
}

label[for="btn"] {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;

	color: #8bc4dd;

	border: solid #8bc4dd; 
	border-radius: .1em;
	border-width: .1em;

	margin-bottom: 0.5em;

	padding: .5em;

	user-select: none;
	-moz-user-select: none;

	width: 100%;
}

ul {
	padding: 0;
	margin-left: 0.4em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

li {
	text-overflow: ellipsis;
	font-weight: bold;
	overflow: hidden;
	color: azure;

	border: solid azure; 
	border-radius: .2em;
	border-width: .05em;

	padding: .5em;
	margin-bottom: .5em;
}

li:hover {
	overflow: visible;
	color: white;
}

.urls {
	display: none;
}

h3 {
	font-size: 2rem;
	color: #8bddab;
	
	margin-bottom: 1em;
}

label:hover {
	cursor: pointer;
}

label:after {
/*	Font independent arrow, so it is an arrow, everywhere */
	content: "";
	float: right;
	margin-top: .3em;

	display: inline-block;
	border: solid #8bc4dd;
	border-width: 0 .15em .15em 0;

	padding: .20em;

	transform: rotate(-45deg);
}

#btn:checked + label:after {
	transform: rotate(45deg);
}
#btn:checked + label + .urls {
	display: block;
}

#addPlus {
	color: white;

	text-decoration: none;
}

#labelChanger {
	width: 25%;
}
