* {
	box-sizing: border-box;
}

.col-1 {
	margin: auto;
	margin-top: 10%;

	text-align: center;
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	[class*="col-"] {
		width: 75%;
	}
}

@media only screen and (min-width: 992px) {
	[class*="col-"] {
		width: 40%;
	}
}

@media only screen and (min-width: 1400px) {
	[class*="col-"] {
		width: 25%;
	}
}

#btn {
	display: none;
}

body {
	font-size: 1.25rem;
	font-family: sans-serif;

	background-color: #2d343d;
}

label[for="btn"] {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;

	background-color: #1c2023;
	color: #8bc4dd;

	border: solid #8bc4dd; 
	border-radius: .1em;
	border-width: .1em;

	padding: .5em;
	padding-left: 3em;

	user-select: none;
	-moz-user-select: none;

	width: 100%;
}

ul {
	padding: 0;
}

li {
	text-overflow: ellipsis;
	font-weight: bold;
	overflow: hidden;
	color: azure;

	background-color: #1c2023; 

	border: solid azure; 
	border-radius: .2em;
	border-width: .05em;

	padding: .5em;
	margin-bottom: .5em;

	width: 100%;
}

li:hover {
	overflow: visible;
	color: white;
}

.urls {
	display: none;
	margin-top: 2em;
}

h3 {
	font-size: 1.5rem;
	color: #8bc4dd;
}

label:hover {
	cursor: pointer;
}

label:after {
/*	Font independent arrow, so it is an arrow, everywhere */
	content: "";

	margin-left: 2em;

	display: inline-block;
	border: solid #8bc4dd;
	border-width: 0 .15em .15em 0;

	padding: .20em;
	margin-bottom: .1em;

	transform: rotate(-45deg);
}

#btn:checked + label:after {
	transform: rotate(45deg);
	margin-bottom: .15em;
}
#btn:checked + label + .urls {
	display: block;
}

#addPlus {
	font-size: 3rem;
	color: azure;

	text-decoration: none;
}
