<!DOCTYPE html>

<html>
	<head>

		<meta charset="UTF-8">
		<title>Public URLs</title>
		<link rel="stylesheet" href="/pages/style.css">
		<link rel="stylesheet" href="/pages/publicUrls.css">
		
	</head>

	<body>
		<div class="col-1">
			{{if .URLs }}
			<input type="checkbox" id="btn" checked=true/>
			<label for="btn">Saved Urls:</label>
			<div class="urls">

				<ul>
				{{ range .URLs}}
				<li>{{ . }}</li> 
				{{end}}
				</ul>

				<a href="/saveurl" id="addPlus">+</a>
			</div>
			{{else}}
			<h3>No URLs yet</h3>
			{{end}}
		</div>
	</body>

</html>
